/* font stack */

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

/*
Changes for smartphones:
@media screen and (min-width: 576px) {
  body {
    background: #000000;
  }
}

@media screen and (min-width: 768px) {
  body {
    background: #c11f1f;
  }
}
*/

:root {
  --white: #fefefa;
  --black: #1a1a1a;
  --blue: #4cc8cc;
  --red: #554845;
  --char: #36454f;
  --gray: #333333;
  --mainTransition: all 0.4 ease-in;

  background: var(--black);
  margin: flex;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 70em;
  margin-left: auto;
  margin-right: auto;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 375;
  font-style: normal;
  line-height: 1.5em;
  background: var(--white);
}

a:link {
  color: #4cc8cc;
}
a:visited {
  color: #4cc8cc;
}
a:hover {
  color: #4cc8ccc3;
}
a:active {
  color: #8c1515;
}

.banner {
  color: --white;
  text-transform: uppercase;
  text-align: center;
}

.moontxt {
  height: 3em;
  font-size: large;
  color: var(--white);
  font-size: 6em;
  text-align: center;
}

.moontxt2 {
  color: var(--white);
  font-size: 1em;
  text-align: center;
}

.moon {
  background: url("../imgs/moon.jpg");
  background-size: cover;
  background-repeat: none;
  background-attachment: fixed;
}

.user {
  font-weight: 500;
  font-style: italic;
  text-align: center;
  color: black;
  background: var(--white);
}

/* #ID (always unique) .class (reusable)*/

.myface2 {
  width: 170px;
  border-radius: 30px;
  float: left;
  margin-right: 25px;
  margin-bottom: 7px;
  border: none;
  box-shadow: 3px 5px 10px gray;
}

.headingbar {
  text-align: center;
  width: 500px;
  color: var(--white);
  background: var(--gray);
  padding: 8px;
  border-radius: 50px;
}

/* DIV = block  SPAN = inline*/

.aboutme {
  display: block;
  width: 80%;
  padding: 30px;
  background: var(--white);
}

.contact {
  display: block;
  width: 80%;
  padding: 30px;
  background: var(--white);
}

/* INHERITANCE child defers to parent container */

.extra {
  color: rgb(255, 255, 255);
  background: rgb(206, 183, 191);
  border-radius: 40px;
  border: 1px solid black;
}

.grid-container {
  display: grid;
  border: 40vw;
  grid-column-gap: 15px;
  grid-template-columns: auto auto;
  grid-row-gap: 20px;
  background-color: var(--white);
  padding: 50px;
  height: 700px;
}

.grid-item {
  background-color: #333333;
  color: var(--white);
  padding: 30px;
  font-size: 18px;
  text-align: left;
  border-radius: 20px;
  box-shadow: 3px 5px 10px gray;
}

.linktitles {
  color: #333333;
  font-weight: 600;
  background: var(--white);
  width: 140px;
  padding: 8px;
  border-radius: 1px;
  margin-left: 0px;
  margin-top: -30px;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--gray);
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover {
  background-color: var(--blue);
}

ul.topnav li a.active {
  background-color: #04aa6d;
}

ul.topnav li.right {
  float: right;
}

.outer {
  padding-left: 5%;
  padding-right: 30%;
}

section {
  column-count: 2;
  column-gap: 2em;
}
article {
  padding: 1em;
}

@media screen and (max-width: 768px) {
  body {
    width: 100vw;
  }
  ul.topnav li.right,
  ul.topnav li {
    float: none;
    box-shadow: 1px 1px var(--black);
  }
  section {
    column-count: 1;
  }

  .grid-container {
    display: inline;
    background-color: var(--white);
    padding: 0px;
    height: 2px;
  }

  .grid-item {
    background-color: #333333;
    color: var(--white);
    padding-left: 40px;
    margin: 30px;
    font-size: 22px;
    text-align: left;
    border-radius: 20px;
    line-height: 40px;
  }
}

/* Clear floats after the columns */

/*
p::before {
  content: "*";
  font-weight: bold;
  font-size: 2rem;
  color: red;
}

p::after {
  content: "*";
  font-weight: bold;
  font-size: 2rem;
  color: red;
}*/

/*

.transition {
  width: 200px;
  height: 100px;
  color: white;
  margin: 10px;
  background: red;
  transition: all 1s linear;
}

.animation {
  width: 200px;
  height: 100px;
  color: white;
  margin: 10px;
  background: red;
  animation: move 5s infinite;
  animation-iteration-count: 2;
}
*/
